<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="blog_after_login.js" defer></script>
    <script src="access_cookie_sender.js" defer></script>
</head>

