<div id="nav_bar">
    <a href = "/home" id="Home">Home</a><br>
    <a href = "/blog" id="Blog">My-Blogs</a><br>
    <a href = "/Create_blog" id="Create_blog">Create-Blog</a><br>
    <a href = "/Logout" id="Logout">Logout</a><br>
    <a href="#" id=""></a><br>
    <a href="#" id=""></a><br>
</div>