<div id="nav_bar">
    <a href = "/" id="Home">Home</a><br>
    <a href = "/blog" id="Blog">Blogs</a><br>
    <a href="Register">Register</a><br>
    <a href="Login">Login</a><br>
    <a href="#" id="Create_blog"></a>
    <a href="#" id="Logout"></a>
</div>